.header {
  background-color: #fff;
  padding: 20px 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  .main-nav {
    width: 100%;
    display: flex;
    align-items: center;

    .mainlogo {
      width: 50%;

      img {
        max-width: 200px;
        height: auto;
      }
    }

    .ul-main {
      display: flex;
      width: 50%;
      list-style-type: none;
      justify-content: space-evenly;
      align-items: center;

      li {
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: orange;
        }
        &:nth-child(5) {
          background-color: black;
          color: white;
          padding: 15px 30px;
          &:hover {
            color: orange;
          }
        }
      }
    }
  }
}
.mainhome {
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
  position: relative;

  .text-container {
    width: 800px;

    position: absolute;
    bottom: 0px;
    left: 70px;
    background-color: #ffff;
    color: black;
    padding: 80px;

    h1 {
      font-size: 70px;
      text-transform: uppercase;
      padding-bottom: 30px;
      line-height: 100px;
    }

    h3 {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      padding-bottom: 40px;
    }
    button {
      margin-top: 50px;
      background-color: black;
      color: white;
      padding: 20px 120px;
      font-size: 24px;
      font-weight: 600;
    }
  }
}
.main-result {
  width: 100%;

  padding: 110px 70px;
  display: flex;
  margin-bottom: 20px;

  .result-img {
    width: 35%;

    img {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      height: 500px;
    }
  }
  .result-text {
    width: 60%;
    padding: 50px 110px;
    // background-color: blue;
    .result-text-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 50px;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      p {
        color: #000;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 40px;
      }
    }
    .numbers {
      width: 100%;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid gray;
      gap: 50px;
 
      .customer {
     
        border-right: 1px solid gray;
        display: flex;

        flex-direction: column;
        padding-right: 23px;
        h1 {
          font-size: 70px;
          text-transform: uppercase;
          margin-bottom: 30px;
          color: #000;
          span {
            font-size: 70px;
            text-transform: uppercase;
            margin-bottom: 30px;
            color: orange;
            border-bottom: 2 px solid gray;
          }
        }
        p {
          color: #000;
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 40px;
      
        }
      }

.customer:last-child {
  border-right: none;
}
    }
  }
}
.programs-main {
  width: 100%;
  padding: 90px 70px;

  margin-bottom: 20px;
  .program {
    display: flex;
    flex-direction: column;

    align-items: center;

    h1 {
      font-size: 50px;
      text-transform: uppercase;
      margin-bottom: 30px;
      color: #000;
    }
    p {
      color: #000;
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
      margin-bottom: 40px;
      text-align: center;
      padding: 20px 0px;
    }
    img {
      width: 100%;
      height: 700px;
      //   height: 500px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    span {
      background-color: transparent;
      border: 2px solid black;
      color: black;
      padding: 20px 100px;
      font-size: 20px;
      font-weight: 400;
    }
  }
}
.good-time {
  width: 100%;
  background-color: #00171f;
  padding: 90px 70px;
  display: flex;

  .text-good {
    // background-color: red;
    width: 50%;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 50px;
      text-transform: uppercase;
      margin-bottom: 30px;
      color: #fff;
      line-height: 80px;
    }
    p {
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 40px;
      line-height: 30px;
    }
  }
  .text-image {
    // background-color: rgb(0, 255, 128);
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    padding: 52px 0px 0px 100px;
  }

  img {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 5px;
  }
}
.subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 130px 70px 0px 70px;
  .subscribe-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 200px;

    h1 {
      font-size: 50px;
      text-transform: uppercase;
      margin-bottom: 30px;
      color: #000;
      line-height: 80px;
    }
    p {
      color: #000;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 40px;
    }
    .subscribe {
      display: flex;
      flex-direction: row;
      gap: 10px;
    
      .email {
        width: 100%;
      
        background: #e9f5f9;
        border-bottom: px solid #000;
    
        input {
          padding: 20px 20px;
          width: 100%;
          font-size: 16px;
          background: transparent;
          border: none;
       
        
          border: none;
       
          outline: none;
          transition: border-bottom 0.3s ease-in-out;
    
          &:hover {
            border-bottom: none;
          }
    
          &::placeholder {
            width: 100%;
            margin-left: 3px; 
          }
        }
      }
    
      button {
        font-size: 24px;
        text-transform: uppercase;
        padding: 15px 30px;
        color: #fff;
        background-color: orange;
        border: none;
        cursor: pointer;  // Add a cursor pointer for better UX
      }
    }
    
  }
  .subscribe-bottom {
    background: #e9f5f9;
    width: 800px;

    color: black;
    padding: 70px;

    .donation {
      display: flex;
      justify-content: center;
      flex-direction: column;

      h1 {
        font-size: 50px;
        text-transform: uppercase;
        margin-bottom: 30px;
        color: #000;
        line-height: 80px;
      }
      .oneTime {
        width: 100%;
        display: flex;
        gap: 10px;
        padding: 20px 0 20px;

        .btn {
          width: 50%;

          padding: 20px 35px;
          color: white;
          font-size: 16px;
          background-color: black;
        }
      }
      .rupees {
        width: 100%;
        display: flex;
        gap: 10px;
        padding: 20px 0 20px;

        .btz {
          width: 33%;

          padding: 20px 25px;
          color: white;
          font-size: 16px;
          background-color: black;
        }
      }
      .rs {
        width: 100%;
        input {
          padding: 20px 20px;
          width: 100%;
          font-size: 16px;
          background: transparent;
          border: none;
          outline: none;
          border-bottom: 1px solid gray;
        }
      }
      .rs1 {
        width: 100%;
        .personSelect {
          padding: 20px 20px;
          width: 100%;
          font-size: 16px;
          background: transparent;
          border: none;
          outline: none;
          border-bottom: 1px solid gray;
       
        }
      }
      .rs2 {
        width: 100%;
        input {
          padding: 50px 20px;
          width: 100%;
          background: transparent;
          border: none;
          outline: none;
          font-size: 16px;
          border-bottom: 2px solid #000;
        }
      }
      .rs3 {
        width: 100%;
        button {
          padding: 20px 20px;
          width: 100%;
          background: black;
          color: #fff;
          border: none;
          font-size: 16px;
          border-bottom: 2px solid #000;
        }
      }
    }
  }
}
.main-footer {
  width: 100%;
  background-color: #00171f;
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 80px;

  .main-nav {
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;

    .mainlogo {
      width: 30%;

      img {
        width: 30%;
    
        height: 50px;
       background: #FFF;
      }
    }
    .ul-main {
      display: flex;
      width: 40%;
      list-style-type: none;
      justify-content: center;
      align-items: center;
      gap: 20px;

      li {
        margin-left: 30px;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: orange;
        }
      }
    }
    .social {
      width: 30%;
      display: flex;
      justify-content: center;
      gap: 25px;
      svg {
        width: 25px;
        height: 20px;
        &:hover {
          color: orange;
        }
      }
    }
  }
  p {
    color: #fff;

    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
  }
}
